.firstRow .col-xs-4 a{
	line-height: 70px;
}
.img{
	width: 600px;
	height: 500px;
	background-image: url(../imgs/register/feather-register.jpg);
}
#state-error{
	/*border:1px solid red;*/
	font-size:14px;
	font-weight: normal;
	padding-left: 20px;
	background-image:url(../imgs/hotel/叹号.png);
	background-repeat: no-repeat;
	color:#C15672;
	background-position: 0px 2px;
}
#tel-error{
	/*border:1px solid red;*/
	font-size:14px;
	font-weight: normal;
	padding-left: 20px;
	background-image:url(../imgs/hotel/叹号.png);
	background-repeat: no-repeat;
	color:#C15672;
	background-position: 0px 2px;
}
#pwd-error{
	/*border:1px solid red;*/
	font-size:14px;
	font-weight: normal;
	padding-left: 20px;
	background-image:url(../imgs/hotel/叹号.png);
	background-repeat: no-repeat;
	color:#C15672;
	background-position: 0px 2px;
}